*{
  margin: 10px;
  padding: 0;
}
.main{
  display: grid;
  grid-template-columns: auto 400px;
  /* border: 2px solid rgb(76, 0, 255); */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  height: 100vh;

}
.container{
  border: 2px solid red;


}


.wordBox{
     /* border: 2px solid rgb(23, 21, 2);  */
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     height: 30vh;
     padding: 10px;
     margin: 10px;
     background-color: #8DCC6E;

}

.word{
 /* font-size: 25px; */
}

.timmerDiv{
  /* border: 2px solid red; */
  margin: 10px;
  display: flex;
  justify-content: center;

  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;

}


